<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Medicament</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">

        <!--Formulaire-->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 my-2">

                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title" th:if=" ${#httpServletRequest.requestURI=='/medicament/nouveau'}">
                                    Nouveau Medicament</h3>
                                <h3 class="card-title" th:unless=" ${#httpServletRequest.requestURI=='/medicament/nouveau'}">
                                    Modification Medicament</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" enctype="multipart/form-data"
                                  method="post" th:action="@{/medicament/nouveau}"
                                  th:object="${medicament}">
                                <div class="card-body">

                                    <input th:field="*{id}" type="hidden">

                                    <div class="form-group row">
                                        <label class="col-2">Type</label>
                                        <div class="col-10">
                                            <select class="form-control select2bs4" style="width: 100%;"
                                                    th:field="*{type.id}">
                                                <option th:each="type:${types}"
                                                        th:if="${type.pharmacie.id}==${utilisateurActif.pharmacie.id}"
                                                        th:text="${type.nom}"
                                                        th:value="${type.id}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Nom<span
                                                class="text-danger">*</span></label>
                                        <div class="col-10">
                                            <input autofocus class="form-control" placeholder="Entre le nom"
                                                   required th:field="*{nom}" type="text">
                                            <span class="text-danger" th:errors="*{nom}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Prix Vente<span
                                                class="text-danger">*</span></label>
                                        <div class="col-10">
                                            <input class="form-control" placeholder="Entre le prix de vente"
                                                   required
                                                   th:field="*{prixVente}" type="number">
                                            <span class="text-danger" th:errors="*{prixVente}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Prix Assureur<span
                                                class="text-danger">*</span></label>
                                        <div class="col-10">
                                            <input class="form-control" placeholder="Entre le prix d'assureur"
                                                   required
                                                   th:field="*{prixAssureur}" type="number">
                                            <span class="text-danger" th:errors="*{prixAssureur}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Details<span
                                                class="text-danger">*</span></label>
                                        <div class="col-10">
                                            <input class="form-control" placeholder="Entre les details"
                                                   required
                                                   th:field="*{details}" type="text">
                                            <span class="text-danger" th:errors="*{details}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Assuré<span
                                                class="text-danger">*</span></label>
                                        <div class="col-10">
                                            <div class="form-check">
                                                <input class="form-check-input" th:field="*{prisEnCharge}" type="radio"
                                                       value=1>
                                                <label class="form-check-label mr-5">OUI</label>

                                                <input checked class="form-check-input" th:field="*{prisEnCharge}"
                                                       type="radio" value=0>
                                                <label class="form-check-label">NON</label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <!--Boutons-->
                                <!-- /.card-body -->
                                <div class="card-footer text-center">
                                    <button class="btn btn-info" type="submit"><i class="fas fa-save"></i> Enregistre
                                    </button>
                                    <button class="btn btn-outline-danger" type="button"><i
                                            class="fa fa-cancel"></i> <a th:href="@{/medicament}">Annuler</a>
                                    </button>
                                </div>
                                <!-- /.card-footer -->
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.card -->
        </section>

    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>