<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Satistique</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-6 mt-2">
                        <!-- ./Histogramme -->

                        <div class="card card-info">
                            <div class="card-header ">
                                <h3 class="card-title">Medicaments vendus par quantite </h3><br>

                                <span th:text="${#httpServletRequest.requestURI=='/statistique'}?
                                            ${#dates.format(#dates.createNow(), 'EEEE dd MMMM yyyy')}"></span>
                                <span th:text="${#httpServletRequest.requestURI=='/statistique/details'}?
                                            ${#temporals.format(dateDebut, 'EEEE dd MMMM yyyy') }+' - '
                                            +${#temporals.format(dateFin, 'EEEE dd MMMM yyyy') }"></span>
                            </div>
                            <div class="card-body">
                                <h4 class="text-center text-danger" th:if="${#arrays.isEmpty(medicaments)}"
                                    th:with="medicaments = ${medicaments}">Aucune Vente</h4>
                                <div class="position-relative mb-4">
                                    <canvas height="350" id="chart-vente"
                                            th:if="${#arrays.length(medicaments)} > 0 or ${medVenduDates} != null"
                                            th:with="medicaments = ${medicaments}"></canvas>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->

                    </div>
                    <div class="col-6 mt-2">
                        <div th:replace="acceuil/nbMedVendu"></div>
                        <div th:replace="acceuil/totalVente"></div>

                        <div class="col-12">
                            <div class="card card-info">
                                <div class="card-header">
                                    <h3 class="card-title">Vente par Utilisateur <span
                                            th:text="${#dates.format(#dates.createNow(), 'EEEE dd MMMM yyyy')}"></span>
                                    </h3>
                                    <div class="card-tools">
                                        <button class="btn btn-tool" data-card-widget="collapse" type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button class="btn btn-tool" data-card-widget="remove" type="button">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <h4 class="text-center text-danger my-5" th:if="${ventesTotalParUtilisateur}==null
                                        or ${#arrays.isEmpty(ventesTotalParUtilisateur)} "
                                >Aucune Vente</h4>
                                <div class="card-body">
                                    <canvas id="pieChart" style="height: 170px;"
                                            th:unless="${ventesTotalParUtilisateur}==null
                                        or ${#arrays.isEmpty(ventesTotalParUtilisateur)} "></canvas>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <div class="col-12">
                            <!-- Widget: user widget style 2 -->
                            <div class="card card-info">
                                <div class="card-header">
                                    <h5 class="card-title">Vente <span
                                            th:text="${#dates.format(#dates.createNow(), 'EEEE dd MMMM yyyy')}"></span>
                                    </h5>
                                    <div class="card-tools">
                                        <button class="btn btn-tool" data-card-widget="collapse" type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button class="btn btn-tool" data-card-widget="remove" type="button">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-footer  scroll p-0 px-1">
                                        <h4 class="text-center text-danger my-5" th:if="${ventesTotalParUtilisateur}==null
                                        or ${#arrays.isEmpty(ventesTotalParUtilisateur)} "
                                        >Aucune Vente</h4>

                                        <table class="table table-sm  text-info" th:unless="${ventesTotalParUtilisateur}==null
                                        or ${#arrays.isEmpty(ventesTotalParUtilisateur)} ">
                                            <thead>
                                            <tr class="text-primary">
                                                <th>Employé</th>
                                                <th>Part Assureur</th>
                                                <th >Montant En Caisser</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="vente :${ventesTotalParUtilisateur}">

                                              <td  th:text="${vente.utilisateur.prenom}+' ' +${vente.utilisateur.nom}"></td>
                                                <td   th:text="${#numbers.formatInteger(totalVente,3,'POINT')}+
                                                        ' F CFA'" th:with="totalVente=${vente.partAssureur}"></td>
                                                <td class="text-success text-right pr-4"
                                                    th:text="${#numbers.formatInteger(totalVente,3,'POINT')}+
                                                        ' F CFA'" th:with="totalVente=${vente.montantAPayer}"></td>

                                            </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="col-12">
                            <div class="card card-success">
                                <div class="card-header">
                                    <h3 class="card-title">Mouvement <span
                                            th:text="${#dates.format(#dates.createNow(), 'MMMM yyyy')}"></span></h3>

                                </div>
                                <div class="card-body p-0">
                                    <ul class="nav flex-column">
                                        <li class="nav-link text-info">
                                            <span>Vente</span>
                                            <span class="float-right badge"
                                                  th:text="${#numbers.formatInteger(montant,3,'POINT')}+
                                                        ' F CFA'" th:with="montant=${sommeVentesMois}"></span>
                                        </li>
                                        <li class="nav-link text-primary">
                                            <span>Part Assureur</span>
                                            <span class="float-right badge"
                                                  th:text="${#numbers.formatInteger(montant,3,'POINT')}+
                                                        ' F CFA'" th:with="montant=${sommePartAssureur}"></span>
                                        </li>
                                        <li class="nav-link text-danger">
                                            <span>Depense</span>
                                            <span class="float-right badge"
                                                  th:text="${#numbers.formatInteger(montant,3,'POINT')}+
                                                        ' F CFA'" th:with="montant=${sommeDepensesMois}"></span>
                                        </li>
                                    </ul>

                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-12">
                            <div class="card card-danger">
                                <div class="card-header">
                                    <h3 class="card-title">Depense <span
                                            th:text="${#dates.format(#dates.createNow(), 'MMMM yyyy')}"></span></h3>

                                    <div class="card-tools">
                                        <button class="btn btn-tool" data-card-widget="collapse" type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button class="btn btn-tool" data-card-widget="remove" type="button">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body  scroll pt-1 p-0">
                                    <ul class="nav flex-column">
                                        <h4 class="text-center text-danger my-5"
                                            th:if="${#arrays.isEmpty(depensesMois)}"
                                            th:with="depensesMois = ${depensesMois}">Aucune Vente</h4>
                                        <th:block th:each="depense :${ depensesMois}">
                                            <li class="nav-link text-info">
                                                <span th:text="${depense.type}"></span>
                                                <span class="float-right badge text-danger"
                                                      th:text="${#numbers.formatInteger(montant,3,'POINT')}+
                                                        ' F CFA'" th:with="montant=${depense.montant}"></span>
                                            </li>
                                        </th:block>

                                    </ul>

                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div th:replace="statistique/nbMedVenduDates"></div>
                    <div th:replace="acceuil/ruptStock"></div>

                </div>
            </div>
        </section>
    </div>
</div>
</div>

<div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>