<div class="modal fade" id="modalVenteDates">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details Medicaments Vendus
                    <i th:text="${#temporals.format( dateDebut, 'EEEE dd MMMM yyyy')}+' - '+
                            ${#temporals.format( dateFin, 'EEEE dd MMMM yyyy')}"
                       th:with="dateDebut=${dateDebut}, dateFin=${dateFin}"
                    ></i>
                </h4>
                <button aria-label="Close" class="close text-danger" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">

                <table class="table table-sm table-hover text-nowrap table-striped">
                    <thead>
                    <tr>
                        <th>Medicament</th>
                        <th>Quantite</th>
                        <th>Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="medicaments : ${ medVenduDates }">
                        <td th:text="${ medicaments.medicament.nom }"></td>
                        <td th:text="${ medicaments.quantite }"></td>
                        <td th:text="${ medicaments.medicament.prixVente }"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>