<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Systeme Gestion Boutique</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">

                <div class="row">

                    <div th:replace="acceuil/nbMedVendu"></div>
                    <div th:replace="acceuil/totalVente"></div>


                </div>
                <div class="row ">
                    <th:block th:if="${#arrays.length(medicaments)} > 0"
                              th:with="medicaments = ${medicaments}">

                        <!-- ./Histogramme -->
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header  card-title text-center border-0">
                                    <h3 class="text-info">Medicaments vendus par quantite :
                                        <spam class="text-success text-center mb-1"
                                              th:text="${utilisateurActif.prenom}+' ' +${utilisateurActif.nom}">
                                        </spam>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex">
                                        <p class="d-flex flex-column">
                                            <span>Quantites</span>
                                        </p>
                                    </div>
                                    <!-- /.d-flex -->


                                    <div class="position-relative mb-4">
                                        <canvas height="200" id="vente-chart-utilisateur"></canvas>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">
                                        <span class="mr-2">Medicament</span>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- ./col -->

                    </th:block>
                    <div class="col-6">
                        <div th:replace="acceuil/ruptStock"></div>
                    </div>
                </div>


            </div>
        </section>
    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>