<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Systeme Gestion Boutique</title>
    <th:block th:replace="fragment/style.html"></th:block>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">

                <div class="row">

                    <div th:replace="acceuil/nbMedVendu"></div>
                    <div th:replace="acceuil/totalVente"></div>


                </div>
                <div class="row ">
                    <!-- ./Histogramme -->
                    <div class="col-6">
                        <div class="card">
                            <div class="card-header  card-title text-center border-0">
                                <h5 class="text-info">Medicaments vendus par quantite :
                                    <spam class="text-success text-center mb-1"
                                          th:text="${utilisateurActif.prenom}+' ' +${utilisateurActif.nom}">
                                    </spam>
                                </h5>
                            </div>
                            <div class="card-body">
                                <h4 class="text-center text-danger" th:if="${#arrays.isEmpty(medicaments)}"
                                      th:with="medicaments = ${medicaments}">Aucune Vente</h4>
                                <div class="position-relative mb-4">

                                    <canvas height="200" id="vente-chart-utilisateur"
                                            th:if="${#arrays.length(medicaments)} > 0"
                                            th:with="medicaments = ${medicaments}"></canvas>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>

                    <div class="col-6">
                        <div th:replace="acceuil/ruptStock"></div>
                    </div>
                </div>


            </div>
        </section>
    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>