<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <style th:replace="fragment/style"></style>

    <title>Info Pharmacie</title>

</head>
<body class="hold-transition sidebar-mini  layout-fixed layout-navbar-fixed ">
<div class="wrapper">
    <div th:replace="fragment/header"></div>

    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 offset-3 my-2">

                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">Info Pharmacie</h3>
                            </div>

                            <!-- /.card-header -->

                            <div class="card-body">

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Nom</label>
                                    <span class="col-lg-9 col-form-label" th:text="${pharmacie.nom}"></span>

                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Adresse</label>

                                    <span class="col-lg-9 col-form-label" th:text="${pharmacie.adresse}"></span>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3 col-form-label">Telephone</label>

                                    <span class="col-lg-9 col-form-label" th:text="${pharmacie.telephone}"></span>
                                </div>

                            </div>
                            <!--Boutons-->
                            <!-- /.card-body -->
                            <div class="card-footer text-center">
                                <button class="btn btn-outline-success" type="button"><i
                                        class="fas fa-cancel"></i> <a th:href="@{/pharmacie/nouveau}">Nouveau</a>
                                </button>
                                <button class="btn btn-outline-info" type="button"><i
                                        class="fas fa-cancel"></i> <a th:href="@{/pharmacie}">Liste</a>
                                </button>
                            </div>
                            <!-- /.card-footer -->

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.card -->
        </section>

    </div>

    <div th:replace="fragment/footer"></div>

</div>
</body>
<script th:replace="fragment/script"></script>
</html>